<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<div class="container">
   <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">title</th>
            <th scope="col">description</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="job : ${jobs}">
            <td th:text="${job.id}"></td>
            <td th:text="${job.title}"></td>
            <td th:text="${job.description}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>

</html>
